html {
  background-image: url("newspaper.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Eczar', serif;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hackerTitle {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchResultsColumn {
  width: 50%;
  background-color: #e6e2d3;
}

.searchHistoryColumn {
  width: 50%;
  background-color: #c4b7a6;
}

.rowC {
  width: 100%;
  padding: 1em;
  overflow: auto;
  min-width: 30em;
  max-width: 50em;
  margin: auto;
  display: inline-flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
